<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardns">
<insert id="insertid" parameterType="kh.spring.s02.board.model.vo.BoardVo">
	INSERT INTO BOARD VALUES(
	    (SELECT NVL(MAX(BOARD_NUM), 0)+1 FROM BOARD)
      , #{boardTitle}, #{boardWriter}, #{boardContent}
      , #{boardOriginalFilename}, #{boardRenameFilename}
      , DEFAULT 
      <choose>
		<when test="boardNum != 0"> <!-- BOARD_NUM이 0이 아닐때 BOARD_LEVEL=1이 되고 이건 답글이 추가된다는 뜻 -->
	  ,	(SELECT BOARD_LEVEL+1 FROM BOARD WHERE BOARD_NUM = #{boardNum})
      , (SELECT BOARD_REF FROM BOARD WHERE BOARD_NUM = #{boardNum})
      , (SELECT BOARD_REPLY_SEQ+1 FROM BOARD WHERE BOARD_NUM = #{boardNum})
		</when>
		<otherwise> <!-- BOARD_NUM이 없으면 그냥 게시글 추가 -->
	  , DEFAULT
	  , (SELECT NVL(MAX(BOARD_NUM), 0)+1 FROM BOARD)
      , DEFAULT
		</otherwise>
	  </choose>
      , DEFAULT 
	)
</insert>

<update id="updateid">
	UPDATE BOARD SET 
		   BOARD_TITLE = #{boardTitle}
	     , BOARD_CONTENT = #{boardContent}
	     <if test="boardOriginalFilename != null and boardOriginalFilename neq ''.toString()"> 
	     <!-- null 아니고 그리고 ''와 같지 않을때 아래 코드 실행 -->
		 , BOARD_ORIGINAL_FILENAME = #{boardOriginalFilename}
		 </if>
		 <if test="boardOriginalFilename == null or boardOriginalFilename eq ''">
		 , BOARD_ORIGINAL_FILENAME = null
		 </if>
		 , BOARD_RENAME_FILENAME =
		 <choose>
		 	<when test="boardRenameFilename != null and !boardRenameFilename.equals('')">
		 	#{boardRenameFilename}	
		 	</when>
		 	<otherwise>
		 	null
		 	</otherwise>
		 </choose>
		 , BOARD_DATE = SYSDATE
	 WHERE BOARD_NUM = #{boardNum}
</update>
<update id="updateReadCount">
	UPDATE BOARD SET 
	       BOARD_READCOUNT = BOARD_READCOUNT + 1
	 WHERE BOARD_NUM = #{boardNum}
</update>
<update id="updateForReply"> <!-- 답글 작성시 기존 답글들 있다면 순서에 1 추가 -->
	UPDATE BOARD SET 
	       BOARD_REPLY_SEQ = BOARD_REPLY_SEQ + 1
	 WHERE BOARD_REPLY_SEQ > (SELECT BOARD_REPLY_SEQ FROM BOARD WHERE BOARD_NUM = #{boardNum})
	   AND BOARD_REF = (SELECT BOARD_REF FROM BOARD WHERE BOARD_NUM = #{boardNum})
 </update>

<delete id="deleteid">
DELETE FROM BOARD WHERE BOARD_NUM = #{boardNum}
</delete>

<select id="selectOneid" resultType="kh.spring.s02.board.model.vo.BoardVo">
SELECT * FROM BOARD WHERE BOARD_NUM = #{boardNum}
</select>
<select id="selectListid" resultType="bvo"> <!-- bvo = mybatis에서 typeAlias로 정한 별칭 -->
SELECT BOARD_NUM, BOARD_TITLE, BOARD_WRITER, BOARD_CONTENT
     , BOARD_ORIGINAL_FILENAME, BOARD_RENAME_FILENAME, BOARD_DATE
     , BOARD_LEVEL, BOARD_REF, BOARD_REPLY_SEQ, BOARD_READCOUNT 
  FROM BOARD
 ORDER BY BOARD_REF DESC, BOARD_REPLY_SEQ ASC
</select>
<select id="selectOneCount" resultType="_int">
SELECT COUNT(*) CNT FROM BOARD
</select>
</mapper>
