<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardns">
<!-- insert, update, delete → resultType 적지 않는다. -->

<!-- resultMap 사용법
     1. 먼저 resultMap에서 컬럼명의 본래 값을 선언해주고 
     2. select문의 resultMap에 먼저 선언한 resultMap의 id를 넣어준다
  -->
<!-- <resultMap type="hashmap" id="rsMap">
	<result column="sdate" property="boardDate"/>
	<result column="board_num" property="boardRef"/>
</resultMap> -->
 
<resultMap type="bvo" id="bvoMap">
	<id column="BOARD_NUM" property="boardNum"/> <!-- 컬럼이 PK이면 id로 써도 된다. -->
	<result column="BOARD_TITLE" property="boardTitle"/>
	<result column="BOARD_WRITER" property="boardWriter"/>
	<result column="BOARD_CONTENT" property="boardContent"/>
	<result column="BOARD_ORIGINAL_FILENAME" property="boardOriginalFilename"/>
	<result column="BOARD_RENAME_FILENAME" property="boardRenameFilename"/>
	<result column="BOARD_DATE" property="boardDate"/>
	<result column="BOARD_LEVEL" property="boardLevel"/>
	<result column="BOARD_REF" property="boardRef"/>
	<result column="BOARD_REPLY_SEQ" property="boardReplySeq"/>
	<result column="BOARD_READCOUNT" property="boardReadcount"/>											
</resultMap>


<!-- <select id="tempSelect" resultMap="rsMap">
	select sysdate as sdate, board_num from board
</select> -->



<insert id="insertid" parameterType="kh.spring.s02.board.model.vo.BoardVo">
	INSERT INTO BOARD VALUES(
	    (SELECT NVL(MAX(BOARD_NUM), 0)+1 FROM BOARD)
      , #{boardTitle}, #{boardWriter}, #{boardContent}
      , #{boardOriginalFilename}, #{boardRenameFilename}
      , DEFAULT 
      <choose>
		<when test="boardNum != 0"> <!-- BOARD_NUM이 0이 아닐때 BOARD_LEVEL=1이 되고 이건 답글이 추가된다는 뜻 -->
	  ,	(SELECT BOARD_LEVEL+1 FROM BOARD WHERE BOARD_NUM = #{boardNum})
      , (SELECT BOARD_REF FROM BOARD WHERE BOARD_NUM = #{boardNum})
      , (SELECT BOARD_REPLY_SEQ+1 FROM BOARD WHERE BOARD_NUM = #{boardNum})
		</when>
		<otherwise> <!-- BOARD_NUM이 없으면 그냥 게시글 추가 -->
	  , DEFAULT
	  , (SELECT NVL(MAX(BOARD_NUM), 0)+1 FROM BOARD)
      , DEFAULT
		</otherwise>
	  </choose>
      , DEFAULT 
	)
</insert>

<update id="updateid">
	UPDATE BOARD SET 
		   BOARD_TITLE = #{boardTitle}
	     , BOARD_CONTENT = #{boardContent}
	     <if test="boardOriginalFilename != null and boardOriginalFilename neq ''.toString()"> 
	     <!-- null 아니고 그리고 ''와 같지 않을때 아래 코드 실행 -->
		 , BOARD_ORIGINAL_FILENAME = #{boardOriginalFilename}
		 </if>
		 <if test="boardOriginalFilename == null or boardOriginalFilename eq ''">
		 , BOARD_ORIGINAL_FILENAME = null
		 </if>
		 , BOARD_RENAME_FILENAME =
		 <choose>
		 	<when test="boardRenameFilename != null and !boardRenameFilename.equals('')">
		 	#{boardRenameFilename}	
		 	</when>
		 	<otherwise>
		 	null
		 	</otherwise>
		 </choose>
		 , BOARD_DATE = SYSDATE
	 WHERE BOARD_NUM = #{boardNum}
</update>
<update id="updateReadCount">
	UPDATE BOARD SET 
	       BOARD_READCOUNT = BOARD_READCOUNT + 1
	 WHERE BOARD_NUM = #{boardNum}
</update>
<update id="updateForReply"> <!-- 답글 작성시 기존 답글들 있다면 순서에 1 추가 -->
	UPDATE BOARD SET 
	       BOARD_REPLY_SEQ = BOARD_REPLY_SEQ + 1
	 WHERE BOARD_REPLY_SEQ > (SELECT BOARD_REPLY_SEQ FROM BOARD WHERE BOARD_NUM = #{boardNum})
	   AND BOARD_REF = (SELECT BOARD_REF FROM BOARD WHERE BOARD_NUM = #{boardNum})
 </update>

<delete id="deleteid">
DELETE FROM BOARD WHERE BOARD_NUM = #{boardNum}
</delete>

<select id="selectOneid" resultMap="bvoMap">
SELECT * FROM BOARD WHERE BOARD_NUM = #{boardNum}
</select>
<select id="selectListid" resultMap="bvoMap"> <!-- bvo = mybatis에서 typeAlias로 정한 별칭 -->
SELECT BOARD_NUM, BOARD_TITLE, BOARD_WRITER, BOARD_CONTENT
     , BOARD_ORIGINAL_FILENAME, BOARD_RENAME_FILENAME, BOARD_DATE
     , BOARD_LEVEL, BOARD_REF, BOARD_REPLY_SEQ, BOARD_READCOUNT 
  FROM BOARD
  <trim prefix="where" prefixOverrides="AND|OR">
	<if test="searchWord != null and searchWord neq ''">
		BOARD_TITLE like '%'||#{searchWord}||'%'
		or BOARD_CONTENT like '%'||#{searchWord}||'%'
		or BOARD_WRITER like '%'||#{searchWord}||'%'
	</if>
  </trim>
 ORDER BY BOARD_REF DESC, BOARD_REPLY_SEQ ASC
</select>
<select id="selectReplyList" resultMap="bvoMap">
SELECT * FROM BOARD
 WHERE BOARD_LEVEL > (SELECT BOARD_LEVEL FROM BOARD WHERE BOARD_NUM = #{boardNum})
   AND BOARD_REF = (SELECT BOARD_REF FROM BOARD WHERE BOARD_NUM = #{boardNum})
   AND BOARD_REPLY_SEQ > (SELECT BOARD_REPLY_SEQ FROM BOARD WHERE BOARD_NUM = #{boardNum})
 ORDER BY BOARD_REPLY_SEQ ASC
</select>


<select id="selectOneCount" resultType="_int">
SELECT COUNT(*) CNT FROM BOARD
  <trim prefix="where" prefixOverrides="AND|OR">
	<if test="searchWord != null and searchWord neq ''">
		BOARD_TITLE like '%'||#{searchWord}||'%'
		or BOARD_CONTENT like '%'||#{searchWord}||'%'
		or BOARD_WRITER like '%'||#{searchWord}||'%'
	</if>
  </trim>
</select>

<select id="tempCallableSelect" statementType="CALLABLE" parameterType="bvo" resultType="bvo">
{ 	CALL p1   }
</select>

<select id="tempTrimSelect">
	select * from board
	<trim prefix="where" prefixOverrides="AND|OR">
	<if test="searchWord != null and searchWord neq ''">
		BOARD_TITLE like '%'||#{searchWord}||'%'
		or BOARD_CONTENT like '%'||#{searchWord}||'%'
		or BOARD_WRITER like '%'||#{searchWord}||'%'
	</if>
	</trim>
</select>

<delete id="tempForeachDelete">
	delete from board
	<where>
		<![CDATA[
		1 <> 1 or
		]]>
		<foreach collection="list" item="bnum" open="board_num in (" close=")" separator=",">
		#{bnum}
		</foreach>
	</where>
</delete>


</mapper>
