<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<!-- null 값이 발생할 경우 빈칸이 아니라 NULL값으로 인식하게 setting -->
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	<typeAliases>
		<typeAlias type="kh.spring.s02.board.model.vo.BoardVo" alias="bvo"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappers/board-mapper.xml"/>
	</mappers>
	<!-- <environments default="development">
		<environment id="development">
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@192.168.20.40:1521:xe"/>
				<property name="username" value="KH"/>
				<property name="password" value="KH"/>
			</dataSource>
		</environment>
	</environments> -->
</configuration>
